* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CONTENITORE BACKGROUND */
#general-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#009688 15%, #dbdbd2 15%);
}


/* CONTENITORE APP CHAT */
#app-container {
    width: 80%;
    height: 90%;
    min-height: 300px;
    min-width: 700px;
    display: flex;
    overflow: hidden;
}

/* UTENTE E CHAT COLONNA */
.col-sx-user-contact {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
    background-color: #fff;
}

.bg-lightgrey{
    background-color: #f0f2f5;
}
.col-sx-user-contact-active {
    width: 100%;
    display: flex;
    background-color: #eaeaea;
}

/* UTENTE */
.user-container {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 70%;
}

.user-image {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

img {
    width: 100%;
}

.user-image img {
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    padding-left: 10px;
    font-weight: 500;
}

.user-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.user-icon ul{
    display: flex;
}

.user-icon li{
    padding: 0px 7px;
}

.user-icon li:last-child{
    margin-right: 10px;
}

.user-icon i{
    font-size: 15px;
    color: #b1b1b1;
}

.user-icon i:hover{
    color: grey;
}

.user-icon i:hover{
    color: grey;
    transition: 1s;
}

/* NOTIFICHE / CHAT */
.notifications {
    display: flex;
    align-items: center;
    background-color: #8edafb;
    padding: 10px;
}

.notifications-icon {
    color: #8edafb;
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.notifications-text {
    padding: 0px 10px;
}

.notifications-text p {
    font-size: 13px;
    font-weight: 500;
}

.notifications-text a {
    font-size: 12px;
    text-decoration: underline;
    color: grey;
}

/* RICERCA CONTATTI */
.search-contact input {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 60px;
    color: #b1b1b1;
}

.search-contact {
    width: 100%;
    position: relative;
    background-color: #eaeaea;
    text-align: center;
    padding: 5px;
}

.search-contact i {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 14px;
    color: #b1b1b1;
}

/* LISTA CONTATTI */
.contact-list {
    width: 100%;
    overflow-y: auto;
}

.single-user-chat {
    padding: 10px;
    display: flex;
    border: 1px solid #eaeaea;
    cursor: pointer;
}
.single-user-chat:hover{
    background-color: #eaeaea7c;
}

.single-user-chat-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.single-user-chat-name {
   padding-left: 10px;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.title-text-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: 500;
    font-size: 14px;
}

.mex {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: gray;
    font-size: 12px;
    margin-top: 7px;
}

.time {
    font-size: 10px;
    color: gray;
}



/* UTENTE CHAT ATTIVA */

.user-image-name {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 70%;
}

.user-name p {
    color: grey;
    font-weight: normal;
    font-size: 12px;
}

/* CHAT AREA */
.chat-area {
    flex-grow: 1;
    overflow-y: auto;
    background-image: url('../img/mine.jpg');
}

.chat-area-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 45px;
}

.single-message {
    font-size: 14px;
    max-width: 40%;
    min-width: 35%;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.single-message p{
    padding: 15px;
    margin-bottom: 10px;
    font-size: 13px;
}

.single-message span {
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: gray;
}
.c-pointer{
    cursor: pointer;
}
.drop-menu{
    background-color: #fff;
    top: 100%;
    right: 0;
    z-index: 999;
    min-width: 150px;
}
.drop-menu-active{
    display: block;
}

/* INVIO MESSAGGIO */

.message-icon {
    width: 35px;
    text-align: center;
    font-size: 20px;
}

.smile, .mic, .arrow{
    color: #899091;
}

.arrow:hover, .smile:hover{
    cursor: pointer;
    color: #009688;
}

.mic:hover{
    color: red;
    transition: 1s;
}

.message-text {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    color: #b1b1b1;
}

.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.received {
    align-self: flex-start;
    background-color: #fff;
}

.active {
    background-color: #eaeaea;
}